---
import GitHub from "./icons/GitHub.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<div
  class="max-w-sm mx-auto bg-slate-800 rounded-lg shadow-md p-4"
  id="contact"
>
  <h2 class="text-lg font-bold text-white">¡Hola! Soy Iham Vivanco</h2>
  <p class="text-white">Desarrollador/a Front-End & Analista de datos</p>
  <ul class="list-none mb-4">
    <li class="flex items-center mb-2">
      <svg
        class="w-4 h-4 mr-2"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
        ></path></svg
      >
      <a
        href="mailto:ihamvivanco5@gmail.com"
        class="text-white hover:text-gray-900"
        target="_blank">ihamvivanco5@gmail.com</a
      >
    </li>
    <li class="flex items-center mb-2">
      <a
        href="https://www.linkedin.com/in/iham-vivanco-09357a213/"
        class="text-white hover:text-sky-500 transition-colors"
        target="_blank"
        ><Linkedin class="size-2 lg:size-6">Linkedin</Linkedin></a
      >
      <a
        href="https://github.com/ihamsvs"
        class="text-white hover:text-black transition-colors mx-4"
        target="_blank"><GitHub class="size-2 lg:size-6">Linkedin</GitHub></a
      >
    </li>
  </ul>
  <button
    class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
    >¡Contactame!</button
  >
</div>
