---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Junio 2023",
    title: "Desarrollador Web y Analista de Datos",
    description:
      "En este proyecto, participé en la renovación completa de una página web, siguiendo los diseños proporcionados por el propietario de la empresa. Implementé ajustes clave basados en criterios y necesidades identificadas durante el desarrollo. Realicé un análisis de datos utilizando Excel para generar gráficos que mejoraron la visualización de información clave y facilité la toma de decisiones. Además, ejecuté consultas en bases de datos para asegurar una integración fluida del contenido dinámico con el diseño renovado.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
